.aboutPageDiv {
  padding: 1rem;
  font-size: 2rem;
  line-height: 3rem;
  padding-top: 7rem;
  z-index: 1;
  position: relative;
}
.aboutPageDiv h1 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 2.2rem;
}
.aboutPageDiv button {
  margin-top: 1rem;
}
