.app {
  text-align: center;
  margin: 0 auto;
  font-size: 62.5%;
  font-family: "Oswald", sans-serif;
  background: #02182b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.appWidthDiv {
  max-width: 800px;
}
@keyframes pulse {
  0% {
    background-color: #02182b;
  }
  50% {
    background-color: #034078;
  }
  100% {
    background-color: #02182b;
  }
}
