.button {
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  background: #d7263d;
  color: white;
  border-radius: 35px;
  border: 2px solid white;
  z-index: 1;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
button:hover {
  background: #de4d60;
}
a {
  z-index: 1;
  color: white;
}
.aboutMeButton {
  animation: shake 3s;
  animation-iteration-count: infinite;
}
.aboutMeButton:hover {
  animation: none;
}
.mainLinksDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 2s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border: none;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* tool tips start getting obscured if you don't remove at this width */
@media (max-width: 600px) {
  .tooltip .tooltiptext {
    display: none;
  }
}
