.homePageWrapper {
  font-size: 2rem;
  padding-top: 20vh;
}
.homePageWrapper .jobDescriptionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePageWrapper .jobDescriptionDiv h4 {
  padding: 1rem;
  font-weight: bold;
}
.homePageWrapper .jobDescriptionDiv i {
  font-weight: bold;
}
.homePageWrapper h1 {
  font-size: 3rem;
  font-family: "Rubik Mono One", sans-serif;
  word-break: break-word;
}
.homePageWrapper ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
